### 1.Mean

In [2]:
arr = [5,6,11]
arr2 = [1,2,3,4,5,6,7,8,9,10]

In [3]:
import numpy as np

In [4]:
mean1 = np.mean(arr)
mean2 = np.mean(arr2)

print(f'Mean of {arr} is {mean1}')
print(f'Mean of {arr2} is {mean2}')

Mean of [5, 6, 11] is 7.333333333333333
Mean of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is 5.5

### 2.Median

In [5]:
arr = [1,2,3,4]
arr2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

med1 = np.median(arr)
med2 = np.median(arr2)

print(f'Median of {arr} is {med1}')
print(f'Median of {arr2} is {med2}')

Median of [1, 2, 3, 4] is 2.5
Median of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] is 8.0

### 3.Mode

No mode() in numpy library.  
So we have to import scipy.stats lib

In [6]:
import scipy.stats as stats

In [8]:
arr = [1,2,2,4]
arr2 = [1,1,1,2,2,3,3,3,3,3,4,4]

mod1 = stats.mode(arr)
mod2 = stats.mode(arr2)

print(f'Mode of {arr} is {mod1}')
print(f'Modee of {arr2} is {mod2}')

Mode of [1, 2, 2, 4] is ModeResult(mode=np.int64(2), count=np.int64(2))
Modee of [1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 4, 4] is ModeResult(mode=np.int64(3), count=np.int64(5))

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statistics as st

In [2]:
df = sns.load_dataset("mpg")

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
df['weight'].mean()

np.float64(2970.424623115578)

In [5]:
print(df['weight'].mean())

2970.424623115578

In [6]:
print(df['displacement'].mean())

193.42587939698493

In [7]:
print(df['horsepower'].mean())

104.46938775510205

In [10]:
# print(df.mean()) ---> causes type error as we have non-numeric data as well

Hence skip non-numeric columns

In [11]:
numeric_df = df.select_dtypes(include=["number"])

print(numeric_df.mean())

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
model_year        76.010050
dtype: float64

In [12]:
df['weight'].median()

np.float64(2803.5)

In [13]:
print(df['weight'].median())

2803.5

In [14]:
print(df['horsepower'].median())

93.5

In [16]:
# print(df.median()) ---> error

In [17]:
print(numeric_df.median())

mpg               23.0
cylinders          4.0
displacement     148.5
horsepower        93.5
weight          2803.5
acceleration      15.5
model_year        76.0
dtype: float64

In [18]:
df["model_year"].mode()

0    73
Name: model_year, dtype: int64

In [19]:
print(df["model_year"].mode())

0    73
Name: model_year, dtype: int64

In [20]:
print(df["cylinders"].mode())

0    4
Name: cylinders, dtype: int64

In [21]:
df.mode(dropna=False, axis=0)  # ----> gives us most frequent value of each column in the dataFrame

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,13.0,4.0,97.0,150.0,1985,14.5,73.0,usa,ford pinto
1,NaN,NaN,NaN,NaN,2130,NaN,NaN,NaN,NaN

In [22]:
df.mode(dropna=False, axis=1)

C:\Users\VENKATA PRANEETH K\AppData\Local\Temp\ipykernel_8284\2645703459.py:1: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  df.mode(dropna=False, axis=1)

,0,1,2,3,4,5,6,7,8
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,usa,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,usa,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,usa,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,usa,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,usa,ford mustang gl
394,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,europe,vw pickup
395,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,usa,dodge rampage
396,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,usa,ford ranger
397,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000